<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/notes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/js/notes.js" defer></script>
    <title>Notes</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper" style="min-height: 1000px;">

        <div class="row title-bar">
            <div class="col-md-12">
                <!-- <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a> -->
                <h1 id="ml-title">Notes</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8">
                <div class="row padded-top">
                    <div class="col-md-2">
                        <h4>To-Dos</h4>
                    </div>
                    <div class="col-md-6">
                        <a id="fetchIncomplete" class="btn btn-default" href="#">Incomplete</a>
                        <a id="fetchComplete" class="btn btn-default" href="#">Complete</a>
                        <a id="fetchSkipped" class="btn btn-default" href="#">Skipped</a>
                    </div>
                    <div class="col-md-4">
                        <a id="stampNotes" class="btn btn-danger" href="#">Stamp Dates</a>
                    </div>
                </div>
                <div class="row padded-top">
                    <div class="col-md-2">
                        <h4>Questions</h4>
                    </div>
                    <div class="col-md-6">
                        <a id="fetchAll" class="btn btn-default" href="#">All</a>
                        <a id="fetchAnswered" class="btn btn-default" href="#">Answered</a>
                        <a id="fetchUnanswered" class="btn btn-default" href="#">Unanswered</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Search</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-inline">
                            <input id="searchQuery" type="text" class="form-control typeahead" placeholder="foo">
                            <button id="searchSubmit" type="submit" class="btn btn-default">Search</button>
                            <select id="directoryFilter" class="form-control">
                              {% for sub_directory in all_directories %}
                                <option>{{ sub_directory }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="resultWrapper" class="row">
            <div class="col-md-12">
                <table id="todoContent" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ToDo</th>
                      <th scope="col">File Path</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">Line Number</th>
                      <th scope="col" class="actionsColumn">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="todoList">
                    <!-- ToDo Results go here -->
                  </tbody>
                </table>

                <table id="questionContent" class="table table-striped" style="display: none">
                  <thead>
                    <tr>
                      <th scope="col">Question</th>
                      <th scope="col">File Path</th>
                      <th scope="col">Line Number</th>
                      <th scope="col">Answer</th>
                      <th scope="col" class="actionsColumn">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="questionList">
                    <!-- Question Results go here -->
                  </tbody>
                </table>

                <table id="searchContent" class="table table-striped" style="display: none">
                  <thead>
                    <tr>
                      <th scope="col">Matching Line</th>
                      <th scope="col">File Path</th>
                      <th scope="col">Line Number</th>
                      <th scope="col" class="actionsColumn">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="searchResults">
                    <!-- Search Results go here -->
                  </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-1 gutter"></div>
</div>

</body>
</html>
