<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/solarized-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <title>Notes</title>
</head>
<body>
    <pre><code>{{ file_content }}</code></pre>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
