<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css">
  <link rel="stylesheet" href="https://gitcdn.xyz/cdn/goessner/markdown-it-texmath/master/texmath.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/9.0.1/markdown-it.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"></script>
  <script src="https://gitcdn.xyz/cdn/goessner/markdown-it-texmath/master/texmath.js"></script>
</head>
<body>

  <div class="row fullwrapper">
    <div class="col-md-2 gutter"></div>
    <div class="col-md-8 pagewrapper">
        <div class="row title-bar">
          <div class="col-md-12">Top Space</div>
        </div>
        <div class="row content">
          <div class="col-md-12 note-content">
            <div id="out"></div>
          </div>
        </div>
        <div class="row footer-bar">
          <div class="col-md-12">Bottom Space</div>
        </div>
    </div>
    <div class="col-md-2 gutter"></div>
  </div>

  <script>
    let md;
    document.addEventListener("DOMContentLoaded", () => {
        const tm = texmath.use(katex);
        md = markdownit().use(tm,{delimiters:'dollars',macros:{"\\RR": "\\mathbb{R}"}});
        out.innerHTML = md.render('{{ file_content }}');
    })
  </script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
