<!DOCTYPE html>
<html>
<head>
    <!-- Common Resources for all pages -->
    <link rel="stylesheet" type="text/css" href="/css/shorthand-common.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/shorthand-common.js" defer></script>
    <script type="text/javascript" src="/js/bootstrap.js" defer></script>

    <!-- Resources for this page -->
    <script src="/js/underscore-min.js"></script>
    <script src="/js/shorthand-browse.js"></script>

    <meta charset='utf-8'>
    <title>Notes</title>
</head>
<body>

  <div class="row fullwrapper">
    <div class="col-md-2 gutter"></div>
    <div class="col-md-8 pagewrapper">

      {{ header }}

        <div class="row content">
          <div class="col-md-12 toc-content">

            <div id="tocRoot">
            </div>

          </div>
        </div>
        <div class="row footer-bar">
          <div class="col-md-12"></div>
        </div>
    </div>
    <div class="col-md-2 gutter"></div>
</div>

{{ error_modal }}

</body>
</html>
