<!DOCTYPE html>
<html>
<head>

    {{ static_content['common_imports'] }}

    <!-- FullCalendar & Daygrid plugin -->
    <link href='/css/calendar.css' rel='stylesheet' />
    <link href='/css/daygrid.css' rel='stylesheet' />
    <script src='/js/calendar.js'></script>
    <script src='/js/daygrid.js'></script>

    <!-- Highcharts -->
    <script src="/js/highcharts.js"></script>

    <!-- Helpers for this page -->
    <script src="/js/shorthand-calendar.js"></script>

    <meta charset='utf-8'>
    <title>Notes</title>
</head>
<body>

  <div class="row fullwrapper">
    <div class="col-md-2 gutter"></div>
    <div class="col-md-8 pagewrapper">

        {{ static_content['header_html'] }}

        <div class="row" style="padding-top: 15px;">
          <div class="col-auto">
            <!-- Directory Filter -->
            <select id="directoryFilter" class="form-control">
              {% if default_directory %}
                <option>{{ default_directory }}</option>
              {% endif %}
              {% for sub_directory in all_directories %}
                <option>{{ sub_directory }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-12 calendar-content">

            <div id="calendar"></div>
            <div id="productivityChart" style="margin-top: 30px;"></div>

          </div>
        </div>
        <div class="row footer-bar">
          <div class="col-md-12"></div>
        </div>
    </div>
    <div class="col-md-2 gutter"></div>
  </div>

  {{ static_content['modal_block'] }}

</body>
</html>
