<!DOCTYPE html>
<html>
<head>

    {{ static_content['common_imports'] }}

    <!-- FullCalendar & Daygrid plugin -->
    <link href='/css/calendar.css' rel='stylesheet' />
    <link href='/css/daygrid.css' rel='stylesheet' />
    <script src='/js/calendar.js'></script>
    <script src='/js/daygrid.js'></script>

    <!-- Highcharts -->
    <script src="/js/highcharts.js"></script>

    <meta charset='utf-8'>
    <title>Notes</title>
</head>
<body>

  <div class="row fullwrapper">
    <div class="col-md-2 gutter"></div>
    <div class="col-md-8 pagewrapper">

        {{ static_content['header_html'] }}

        <div class="row content">
          <div class="col-md-12 calendar-content">

            <div id="calendar"></div>
            <div id="productivityChart" style="margin-top: 30px;"></div>

          </div>
        </div>
        <div class="row footer-bar">
          <div class="col-md-12"></div>
        </div>
    </div>
    <div class="col-md-2 gutter"></div>
  </div>

  {{ static_content['error_modal'] }}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid' ],
        events: {{events}}
      });
      calendar.render();
    });
  </script>

  <script type="text/javascript">
    Highcharts.chart('productivityChart', {
        chart: {zoomType: 'x'},
        title: {text: 'Daily Productivity'},
        subtitle: {text: 'Meetings / sections created per day'},
        tooltip: {valueDecimals: 2},
        xAxis: {type: 'datetime'},
        series: [{
            data: {{summary}},
            lineWidth: 0.5,
            name: 'Sections per day'
        }]
    });
  </script>

</body>
</html>
