<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/highcharts.js"></script></script>
  <link rel="stylesheet" type="text/css" href="/css/notes.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Calendar Stuff -->
  <link href='/css/calendar.css' rel='stylesheet' />
  <link href='/css/daygrid.css' rel='stylesheet' />

  <script src='/js/calendar.js'></script>
  <script src='/js/daygrid.js'></script>
</head>
<body>

  <div class="row fullwrapper">
    <div class="col-md-2 gutter"></div>
    <div class="col-md-8 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-3">
                <h1 id="notes-title">Notes</h1>
            </div>
            <div class="col-md-9" style="text-align: right;">
                <a href="/"><img class="svg-icon" src="/img/home-24.svg"></a>
                <a href="/todos"><img class="svg-icon" src="/img/tasklist-24.svg"></a>
                <a href="/questions"><img class="svg-icon" src="/img/question-24.svg"></a>
                <a href="/glossary"><img class="svg-icon" src="/img/book-24.svg"></a>
                <a href="/databases"><img class="svg-icon" src="/img/database-24.svg"></a>
                <a href="/calendar"><img class="svg-icon" src="/img/calendar-24.svg"></a>
                <a href="/chart"><img class="svg-icon" src="/img/graph-24.svg"></a>
                <a href="/browse"><img class="svg-icon" src="/img/quote-24.svg"></a>
                <a href="/search"><img class="svg-icon" src="/img/search-24.svg"></a>
                <a href="#"><img class="svg-icon" src="/img/sync-24.svg"></a>
                <a href="#"><img class="svg-icon" src="/img/settings-24.svg"></a>
            </div>
        </div>

        <div class="row content">
          <div class="col-md-12 calendar-content">

            <div id="calendar"></div>

          </div>
        </div>
        <div class="row footer-bar">
          <div class="col-md-12"></div>
        </div>
    </div>
    <div class="col-md-2 gutter"></div>
  </div>

  <div id="errorWrapper">
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Server Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="errorDescription" class="modal-body">
            placeholder
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid' ],
        events: {{events}}
      });

      calendar.render();
    });

  </script>
</body>
</html>
