<!DOCTYPE html>
<html>
<head>

    {{ static_content['common_imports'] }}

    <!-- Calendar Stuff -->
    <link href='/css/calendar.css' rel='stylesheet' />
    <link href='/css/daygrid.css' rel='stylesheet' />
    <script src='/js/calendar.js'></script>
    <script src='/js/daygrid.js'></script>

    <meta charset='utf-8'>
    <title>Notes</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper" style="min-height: 1000px;">

        {{ static_content['header_html'] }}

        <!-- Main Page Content -->
        <div class="row">
            <div class="col-md-12" style="margin-left: 10px;">
                <div class="row">
                    <div class="col-md-6 homepage-info">
                        <a href="/todos"><h2>{{ num_todos }} Incomplete Todos</h2></a>
                    </div>
                    <div class="col-md-6 homepage-info">
                        <a href="/questions"><h2>{{ num_questions }} Open Questions</h2></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="homepage-info">
                    <h2>This week</h2>
                </div>
                <div id="calendar"></div>
            </div>
        </div>

    </div>
    <div class="col-md-1 gutter"></div>
</div>

{{ static_content['modal_block'] }}

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid' ],
        defaultView: 'dayGridWeek',
        height: 300,
        events: {{events}}
      });

      calendar.render();
    });

  </script>
</body>
</html>
