<!DOCTYPE html>
<html>
<head>
    <!-- Common Resources for all pages -->
    <link rel="stylesheet" type="text/css" href="/css/shorthand-common.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/shorthand-common.js" defer></script>
    <script type="text/javascript" src="/js/bootstrap.js" defer></script>

    <!-- Helpers for this page -->
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/shorthand-questions.js" defer></script>

    <!-- Markdown & LaTeX Rendering -->
    <link rel="stylesheet" href="/css/katex.min.css">
    <link rel="stylesheet" href="/css/texmath.css">
    <script src="/js/markdown-it.js"></script>
    <script src="/js/katex.min.js"></script>
    <script src="/js/texmath.js"></script>

    <meta charset='utf-8'>
    <title>Notes</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper" style="min-height: 1000px;">

        {{ header }}

        <!-- Single Search bar -->
        <div class="row padded-top">
          <div class="col-md-12">
            <form>
              <div class="form-row align-items-center search-input">

                <div class="col-auto">
                  <!-- Question-Specific Filters -->
                  <select id="questionType" class="form-control">
                    <option>All</option>
                    <option>Answered</option>
                    <option>Unanswered</option>
                  </select>
                </div>

                <div class="col-auto">
                  <!-- Search Bar -->
                  <input type="text" class="form-control typeahead" id="searchFilter" placeholder="Search">
                </div>

                <div class="col-auto">
                  <!-- Directory Filter -->
                  <select id="directoryFilter" class="form-control">
                    {% if default_directory %}
                      <option>{{ default_directory }}</option>
                    {% endif %}
                    {% for sub_directory in all_directories %}
                      <option>{{ sub_directory }}</option>
                    {% endfor %}
                  </select>
                </div>

                {% if tags %}
                <div class="col-auto">
                  <!-- Tag Filter -->
                  <select id="tagFilter" class="form-control">
                    <option>ALL</option>
                    {% for tag in tags %}
                      <option>{{ tag }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% endif %}

                <div class="col-auto">
                  <!-- Search Button -->
                  <div id="questionSearch" class="btn btn-primary">Search</div>
                </div>

              </div>
            </form>

          </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-left: 10px;">
              <h3>Total: <span id="resultCount">0</span></h3>
            </div>
          </div>

        <div id="resultWrapper" class="row">
            <div class="col-md-12">
                <table id="questionContent" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Question</th>
                      <th scope="col">File Path</th>
                      <th scope="col">Line Number</th>
                      <th scope="col">Answer</th>
                      <th scope="col" class="actionsColumn">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="questionList">
                    <!-- Question Results go here -->
                  </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-1 gutter"></div>
</div>

{{ error_modal }}

</body>
</html>
