<!DOCTYPE html>
<html>
<head>

    {{ static_content['common_imports'] }}

    <!-- Helpers for this page -->
    <script type="text/javascript" src="/js/underscore-min.js"></script>

    <meta charset='utf-8'>
    <title>Notes</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper" style="min-height: 1000px;">

        {{ static_content['header_html'] }}

        <div class="row">
            <div class="col-md-10" style="padding: 30px;">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding: 30px;">
                <a class="btn-lg btn-secondary" type="button" href="/browse" style="margin-bottom: 30px;">Browse</a>
            </div>
        </div>

    </div>
    <div class="col-md-1 gutter"></div>
</div>

{{ static_content['modal_block'] }}

</body>
</html>
