<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/notes.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/katex.min.css">
    <link rel="stylesheet" href="/css/texmath.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/highlight.min.css">
    <script src="/js/highlight.min.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script src="/js/markdown-it.js"></script>
    <script src="/js/katex.min.js"></script>
    <script src="/js/texmath.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" defer></script>
    <script type="text/javascript" src="/js/shorthand-common.js" defer></script>
    <script type="text/javascript" src="/js/shorthand-todos.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Notes</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper" style="min-height: 1000px;">

        <div class="row title-bar">
            <div class="col-md-3">
                <h1 id="notes-title">Notes</h1>
            </div>
            <div class="col-md-9" style="text-align: right;">
                <a href="/"><img class="svg-icon" src="/img/home-24.svg"></a>
                <a href="/todos"><img class="svg-icon" src="/img/tasklist-24.svg"></a>
                <a href="/questions"><img class="svg-icon" src="/img/question-24.svg"></a>
                <a href="/glossary"><img class="svg-icon" src="/img/book-24.svg"></a>
                <a href="/databases"><img class="svg-icon" src="/img/database-24.svg"></a>
                <a href="/calendar"><img class="svg-icon" src="/img/calendar-24.svg"></a>
                <a href="/chart"><img class="svg-icon" src="/img/graph-24.svg"></a>
                <a href="/browse"><img class="svg-icon" src="/img/quote-24.svg"></a>
                <a href="/search"><img class="svg-icon" src="/img/search-24.svg"></a>
                <a href="#"><img class="svg-icon" src="/img/sync-24.svg"></a>
                <a href="#"><img class="svg-icon" src="/img/settings-24.svg"></a>
            </div>
        </div>

        <!-- Single Search bar -->
        <div class="row padded-top">
          <div class="col-md-12">
            <form>
              <div class="form-row align-items-center search-input">

                <div class="col-auto">
                  <!-- To-Do-Specific Filters -->
                  <select id="todoType" class="form-control">
                    <option>Incomplete</option>
                    <option>Complete</option>
                    <option>Skipped</option>
                  </select>
                </div>

                <div class="col-auto">
                  <!-- Search Bar -->
                  <input type="text" class="form-control typeahead" id="searchFilter" placeholder="Search">
                </div>

                <div class="col-auto">
                  <!-- Directory Filter -->
                  <select id="directoryFilter" class="form-control">
                    {% if default_directory %}
                      <option>{{ default_directory }}</option>
                    {% endif %}
                    {% for sub_directory in all_directories %}
                      <option>{{ sub_directory }}</option>
                    {% endfor %}
                  </select>
                </div>

                {% if tags %}
                <div class="col-auto">
                  <!-- Tag Filter -->
                  <select id="tagFilter" class="form-control">
                    <option>ALL</option>
                    {% for tag in tags %}
                      <option>{{ tag }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% endif %}

                <div class="col-auto">
                  <!-- Search Button -->
                  <div id="todoSearch" class="btn btn-outline-success">Search</div>
                </div>

              </div>
            </form>

          </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-left: 10px;">
              <h3>Total: <span id="resultCount">0</span></h3>
            </div>
          </div>

        <div id="resultWrapper" class="row">
            <div class="col-md-12">
                <table id="todoContent" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ToDo</th>
                      <th scope="col">File Path</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">Line Number</th>
                      <th scope="col" class="actionsColumn">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="todoList">
                    <!-- ToDo Results go here -->
                  </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-1 gutter"></div>
</div>

<div id="errorWrapper">
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Server Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="errorDescription" class="modal-body">
          placeholder
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
