<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="/css/notes.css">
  <link rel="stylesheet" href="/css/katex.min.css">
  <link rel="stylesheet" href="/css/texmath.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/highlight.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/js/highlight.min.js"></script>
  <script src="/js/markdown-it.js"></script>
  <script src="/js/katex.min.js"></script>
  <script src="/js/texmath.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@8.4.0/dist/mermaid.min.js"></script>
</head>
<body>

  <div class="row fullwrapper justify-content-center">
    <div class="render-pagewrapper">

        <div class="row title-bar">
            <div class="col-md-6">
                <h1 id="notes-title">Notes</h1>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <a href="/"><i class="material-icons nav-icon">home</i></a>
                <a href="/calendar"><i class="material-icons nav-icon">event</i></a>
                <a href="/chart"><i class="material-icons nav-icon">show_chart</i></a>
                <a href="/browse"><i class="material-icons nav-icon">toc</i></a>
            </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="toc-content hidden">
              <h3>Table of Contents</h3>
              <div id="toc"></div>
            </div>
          </div>
          <div class="toc-button col-md-2">
            <div id="showTOC" class="btn btn-primary">Show ToC</div>
          </div>
        </div>
        <div class="row content">
          <div class="note-content">
            <div id="out"></div>
          </div>
        </div>
        <div class="row footer-bar">
          <div class="col-md-12"></div>
        </div>
    </div>
  </div>

  <script>
    let md;
    document.addEventListener("DOMContentLoaded", () => {
        const tm = texmath.use(katex);
        md = markdownit({html:true}).use(tm,{delimiters:'dollars',macros:{"\\RR": "\\mathbb{R}"}});
        toc.innerHTML = md.render('{{ toc_content }}');
        out.innerHTML = md.render('{{ file_content }}');
    })

    $("#showTOC").click(function(){
      $(".toc-content").toggleClass("hidden");
    });
  </script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
