/*Top Navigation*/
    #title-wrapper {
        vertical-align: middle;
        padding: 15px;
    }

    #notes-title {
        font-family: georgia;
        font-size: 3rem;
        font-weight: bold;
        font-style: italic;
    }

    .svg-icon {
        height: 4rem;
        line-height: 4rem;
        vertical-align: middle;
        fill: white;
        stroke: white;
        color: black;
        font-size: 3.5rem;
    }

    .actionButtons i {
        vertical-align: middle;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .material-icons.action-button {
        font-size: 2.5rem;
        line-height: 2.5rem;
        vertical-align: middle;
    }

/*Twitter Typeahead Styles*/
    .twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

    .tt-hint {
        color: #999
    }

    .tt-menu {
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

    /*Twitter Typeahead and Bootstrap 4 Input groups don't
    work together out of the box, so this is needed to make
    the inputs display correctly.
    See: https://github.com/bassjobsen/typeahead.js-bootstrap4-css/issues/1#issuecomment-395792024*/
    .input-group>.twitter-typeahead {
         position: relative;
         -ms-flex: 1 1 auto;
         -webkit-box-flex: 1;
         flex: 1 1 auto;
         width: 1%;
         margin-bottom: 0;
     }
     .input-group>.twitter-typeahead:not(:last-child) {
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
     }
     .input-group>.twitter-typeahead>.tt-input {
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
     }
     .form-control.tt-input:focus {
         z-index: 3
     }

/*Map page*/
    #shorthand-map {
        height: 800px;
        width: 100%;
    }

/*Note Viewer*/
    .shorthand-mini-map {
        height: 400px;
        width: 400px;
    }

    span.location-coordinates {
        color: grey;
    }

    span.location-name {
        color: blue;
    }

    #out img {
        max-width: 100%;
    }

    #out {
        font-family: palatino;
    }

div.tooltip {
    opacity: 100%;
}

.homepage-info {
    text-align: center;
    margin-top: 60px;
}

.tag-badge {
    margin-left: 5px;
}

.mermaid svg {
    max-width: 900px;
}

code {
    max-width: 900px;
}

pre {
    max-width: 900px;
}

.top-gutter {
    background-color: #999;
    height: 15px;
}

.title-bar {
    background-color: #999;
    color: white;
}

.icon-wrapper {
    padding: 15px;
    text-align: center;
     border-radius: 10px 10px 0px 0px;
}

.open-subicons {
    background-color: #bbb;
}

.elements-bar {
    text-align: right;
    background-color: #bbb;
}

.options-bar {
    text-align: right;
    background-color: #bbb;
}

.search-input {
    padding: 5px;
    margin-bottom: 20px;
}

.record-set-data {
    display: none;
}

.pagewrapper {
    background-color: white;
}

.render-pagewrapper {
    background-color: white;
    max-width: 1000px;
}

.katex-display {
    font-size: 20px;
}

div.fullwrapper {
    background-color: #999;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

#page-name {
    float: right;
    display: inline;
    vertical-align: middle;
}

#todoList {
    font-size: 20px;
}

#searchResults {
    font-size: 20px;
}

#questionList {
    font-size: 20px;
}

.table>tbody>tr>td {
    max-width: 400px;
    word-wrap: break-word;
}

.calendar-content {
    padding: 30px;
}

.note-content {
    padding: 40px;
    padding-top: 0px;
}

.toc-content {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 30px;
    padding-left: 30px;
}

.toc-button {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 30px;
}

.hidden {
    display: none !important;
}

.padded-top {
    padding-top: 10px;
}

.actionsColumn {
    min-width: 220px;
}

.definition-element {
    padding: 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.definition-term {
    background-color: #ffd38c;
}

.definition-text {
    background-color: #fbfc8d;
}

.todo-element {
    /*border: 1px solid black;*/
    padding: 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.todo-incomplete {
    background-color: #ffb2ab;
}

.todo-complete {
    background-color: #c4c5ff;
}

.todo-skipped {
    background-color: #c4c4c4;
}

.todo-meta {
    text-align: right;
}

.qa-element {
    /*border: 1px solid black;*/
    padding: 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.qa-question {
    background-color: #f4b8ff;
}

.qa-answer {
    background-color: #afffa3;
}

.question-meta {
    text-align: right;
}

.mermaid {
    text-align: center;
}

.resultFilePath {
    font-size: 24px;
}

.lineSearchResult {
    margin-left: 25px;
}

.lineSearchResult:hover {
    background-color: #eee;
}

.line-number {
    float: right;
    color: #888;
}

.showMoreResults {
    text-align: center;
    background-color: #aec4f5;
}
