[Unit]
Description=uWSGI Emperor service

[Service]
User=pi
Group=pi
ExecStartPre=/bin/bash -c 'mkdir -p /var/run/uwsgi; chown pi:www-data /var/run/uwsgi'
ExecStart=/usr/local/bin/uwsgi --emperor /etc/uwsgi/sites/
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
