<!DOCTYPE html>
<html>
<head>

    {{ static_content['common_imports'] }}

    <!-- Resources for this page -->
    <script src="/js/underscore-min.js"></script>
    <script src="/js/tree.min.js"></script>
    <script src="/js/shorthand-browse.js"></script>

    <link rel="stylesheet" href="/css/treejs.min.css" id="treejs_styles">

    <meta charset='utf-8'>
    <title>Notes</title>
</head>
<body>

  <div class="row fullwrapper">
    <div class="col-md-2 gutter"></div>
    <div class="col-md-8 pagewrapper">

      {{ static_content['header_html'] }}

        <div class="row content">
          <div class="col-md-12 toc-content">

            <div id="tocRoot">
            </div>

          </div>
        </div>
        <div class="row footer-bar">
          <div class="col-md-12"></div>
        </div>
    </div>
    <div class="col-md-2 gutter"></div>
</div>

{{ static_content['file_finder_modal'] }}

{{ static_content['error_modal'] }}

</body>
</html>
