<!DOCTYPE html>
<html>
<head>

    {{ static_content['common_imports'] }}

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Editor Code -->
    <script type="text/javascript" src="/js/ace.js"></script>

    <!-- Helpers for this page -->
    <script type="text/javascript" src="/js/shorthand-editor.js" defer></script>

    <!-- Markdown & LaTeX Rendering -->
    <link rel="stylesheet" href="/css/katex.min.css">
    <link rel="stylesheet" href="/css/texmath.css">
    <!-- <script src="/js/markdown-it.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.6/markdown-it.min.js" integrity="sha512-7U8vY7c6UQpBNQOnBg3xKX502NAckvk70H1nWvh6W7izA489jEz+RCN3ntT1VMdXewaSKkOrEBegp/h6SPXrjw==" crossorigin="anonymous"></script>
    <script src="/js/katex.min.js"></script>
    <script src="/js/texmath.js"></script>

    <!-- Code Highlighting -->
    <link rel="stylesheet" href="/css/highlight.min.css">
    <script src="/js/highlight.min.js"></script>
    <link rel="stylesheet" href="/css/atom-one-light.css">

    <!-- Data Table Rendering -->
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>

    <!-- Helpers for this page -->
    <script src="/js/underscore-min.js"></script>
    <script src="/js/shorthand-viewer.js"></script>

    <!-- Mermaid Diagram Rendering -->
    <script src="/js/mermaid.min.js"></script>

    <!-- Map Plugin -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <meta charset='utf-8'>
    <title>Notes</title>

</head>
<body>

<style>
    #mapModalMap {
        width: 100%;
        height: 600px;
    }
    .modal-dialog {
        max-width: 800px;
    }
</style>

<!-- Metadata -->
<div id="meta-file-path" style="display: none;">{{ file_path }}</div>

<div class="row fullwrapper justify-content-center">
    <div class="render-pagewrapper" style="max-width: 1600px; min-width: 1200px;">

        {{ static_content['header_html'] }}

        <div class="row" style="padding: 10px;">
            <div class="col-auto">
                <!-- Reload Button -->
                <div id="reloadNote" class="btn btn-outline-success">Reload</div>
            </div>
            <div class="col-auto">
                <!-- Save Button -->
                <div id="saveNote" class="btn btn-outline-danger">Save</div>
            </div>
            <div class="col-auto">
                <!-- Save Button -->
                <a href="/render?path={{ file_path }}" class="btn btn-outline-warning">View</a>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-6">
                <!-- TODO: Set height properly and dynamically https://github.com/joemccann/dillinger/blob/2eac1382312bfbf2ad6b8c063b5a1a43a9ffd129/public/js/base/base.controller.js#L58-L64 -->
                <div class="note-content" style="width: 100%; padding-left: 0px; padding-right: 0px; height: 800px;">
                    <div id="editor" style="width: 100%; height: 800px; border: 1px solid black;">{{file_content}}</div>
                </div>
            </div>
            <div class="col-md-6" style="height: 800px; overflow: scroll;">
                <div id="out"></div>
            </div>
        </div>
        <div class="row footer-bar">
            <div class="col-md-12" style="height: 50px; background: #999"></div>
        </div>
    </div>
</div>

{{ static_content['file_finder_modal'] }}

{{ static_content['error_modal'] }}

<!-- Map Modal -->
<div id="modalWrapper">
  <div class="modal fade" id="shorthandMapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mapModalTitle">Location Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="mapModalContent" class="modal-body">
          <div id="mapModalMap"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// Draw Editor
var editor = ace.edit("editor", {
    wrap: true,
    // theme: '/ace/theme/shorthand-light',
    mode: 'ace/mode/markdown'
});
// editor.setTheme("ace/theme/monokai");
editor.setTheme("ace/theme/shorthand-light");
$(document).ready(renderNote());
</script>

</body>
</html>
